* {
    top: 0;
    margin: 0;
    box-sizing: border-box;
}


                /* Colors and Fonts */
:root {
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: inter-bold;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-extrabold;
    src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: inter-regular;
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}


            /* Header Section */
.logo {
    margin-top: 60px;
    margin-left: 15rem;
    display: inline-block;
}
nav {
    position: sticky;
    display: inline-block;
    margin-left: 73.4rem;
}

a {
    color: var(--grayish-blue);
    padding-left: 37px;
    text-decoration: none;
    font-size: 15px;
    font-family: inter-regular;
}

a:hover {
    color: var(--red);
}

            /* Image and New Section */
.main {
    display: flex;
}

.image-background {
    top: 0;
    margin-left: 15rem;
    width: 57%;
    height: 23rem;
    display: inline;
    margin-top: 4.3em;
}

#new_section {
    display: inline-block;
    width: 28.5rem;
    background-color: var(--dark-blue);
    margin-left: 32px;
    margin-top: 50px;
    height: 40rem;
}

.title {
    font-size: 35px;
    font-family: inter-extrabold;
    padding: 15px;
    color: var(--orange);
    margin-top: 15px;
}

.first_headline, .second_headline, .third_headline {
    padding: 20px 15px 20px 15px;
}

h3 {
    color: var(--off-white);
    font-size: 16px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-family: inter-bold;
    cursor: pointer;
}

h3:hover {
    color: var(--orange);
}

.sub {
    font-size: 12px;
    font-family: inter-regular;
    color: var(--grayish-blue);
    padding-bottom: 20px;
    line-height: 20px;
}



hr {
    width: 25.2em;
    margin-top: 10px;
}

        /* Text and Read More Section */

#main {
    display: flex;
    margin-top: -14rem;
}

.text {
    font-size: 32px;
    font-weight: 900;
    font-family: inter-extrabold;
    width: 11em;
    height: -10rem;  
    margin-left: 15rem;
    display: inline; 
}
        
h1 {
   line-height: 1.03em; 
}


#text {
    color: grey;
    width: 22.3em;
    font-size: 17px;
    font-weight: 300;
    font-family: inter-regular;
    word-spacing: 2px;
    margin-left: 12.8rem;
    display: inline-block;
    line-height: 3vh;
}

button {
    background-color: var(--red);
    border-radius: 2px;
    border: none;
    width: 11.5rem;
    height: 4rem;
    color: white;
    font-family: inter-bold;
    font-size: 16px;
    margin-top: 30px;
}

button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}


        /* Category Section */
.category {
    display: flex;
    margin-top: 5rem;
    margin-left: 14rem;
}

.category > div {
    margin-left: 10px;
}

.images {
    display: inline;
    width: 9rem;
    height: 11rem;
}

.category_item {
    display: inline-block;
}

#category-list {
    margin-left: 12.9rem;
}

#category_list {
    margin-left: 17.3rem;
}

.number {
    font-size: 35px;
    font-family: inter-extrabold;
    color: var(--grayish-blue);
    margin-bottom: 15px;
}

.number-text {
    font-size: 19px;
    font-family: inter-bold;
    font-weight: 900;
    color: #000;
    margin-bottom: 10px;
}

.number-text:hover {
    color: var(--red);
    cursor: pointer;
}
.description {
    font-size: 14.8px;
    font-family: inter-regular;
    font-weight: 600;
    color: var(--grayish-blue);
    width: 19rem;
    line-height: 25px;
    margin-bottom: 10px;
}

.number, .number-text, .description {
    margin-left: 15px;
}
                                            /* The End */

                                    /* Start of Responsiveness */
@media (max-width:1720px ) {
    .logo {
        margin-left: 13rem;
    }
    nav {
        margin-left: 72rem;
    }
    a {
        padding-left: 34px;
    }
    #category_list {
        margin-left: 13rem;
    }
}

@media (max-width:1680px ) {
    .logo {
        margin-left: 13rem;
    }
    nav {
        margin-left: 70rem;
    }
    a {
        padding-left: 34px;
    }
    #category_list {
        margin-left: 11rem;
    }
}

@media (max-width:1600px ) {
    .logo, .image-background, .text {
        margin-left: 14rem;
    }
    nav {
        margin-left: 63rem;
    }
    a {
        padding-left: 34px;
    }
    .image_background {
        width: 53%;
    }
    #new_section {
        margin-left: 1.5rem;
    }
    .text {
        font-size: 30px;
    }
    #text {
        margin-left: 13rem;
    }
    #category-list {
        margin-left: 10rem;
    }
    #category_list {
        margin-left: 8rem;
    }
}
@media (max-width:1440px ) {
    .logo, .image-background, .text, .category {
        margin-left: 16rem;
    }
    nav {
        margin-left: 45.3rem;
    }
    a {
        padding-left: 30px;
    }
    .image-background {
        width: 50%;
    }
    .text {
        font-size: 27px;
    }
    
    #text {
        margin-left: 4.8rem;
        font-size: 16px;
    }
    #new_section {
        width: 21%;
    }

    hr {
        width: 22.2em;
    }

    button {
        margin-top: 13px;
    }
    #category-list {
        margin-left: -.8rem;
    }
    #category_list {
        margin-left: 2.5rem;
    }
    .number {
        font-size: 25px;
    }
    .number-text {
        font-size: 16px;
    }
    .description {
        font-size: 12.7px;
    }
}

@media (max-width:1366px ) {
    .logo, .image-background, .text, .category {
        margin-left: 14rem;
    }
    .logo {
        margin-top: 45px;
    }
    nav {
        margin-left: 41rem;
    }
    a {
        padding-left: 30px;
    }
    .image-background {
        width: 50%;
    }
    .text {
        font-size: 25px;
    }
    
    #text {
        margin-left: 6rem;
        font-size: 15px;
    }
    #new_section {
        width: 21%;
    }

    hr {
        width: 22.2em;
    }

    button {
        margin-top: 13px;
    }

    .category {
        margin-top: 3rem;
    }
    #category-list {
        margin-left: -1.3rem;
    }
    #category_list {
        margin-left: 0rem;
    }
    .number {
        font-size: 25px;
    }
    .number-text {
        font-size: 16px;
    }
    .description {
        font-size: 12.7px;
    }
}

